/* utils */
.bg-red{
    background-color: red;
}


/* smartphone */
.core-game{
    height:100% ;
    flex-basis: 100% ;
    background-color: transparent;
    position: relative;
}

.character{
    color: red;
    position: absolute;
    transition: all .025s linear 0s;
    transform:translate(-50%, -50%)
}
.start-game{
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%, -50%)

}
.top-margin{
    width: 100%;
    position: absolute;
}
.bottom-margin{
    width: 100%;
    position: absolute;
}

/* tablet */
@media only screen and (min-width: 600px){
    .core-game{
        height:666px ;
    }
}


/* pc */
@media only screen and (min-width: 1000px){
}
