@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
  font-family: 'Mochiy Pop P One', sans-serif;
}



/* Characters list */
.character1{
  background-image: url('./assets/images/character1.gif');
  background-size: cover;
  height: 150px;
  width: 150px;
}
.character2{
  background-image: url('./assets/images/character2.gif');
  background-size: cover;
  height: 150px;
  width: 150px;
}
.character3{
  background-image: url('./assets/images/character3.gif');
  background-size: cover;
  height: 150px;
  width: 150px;
}